{% extends "dashboard.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white">
            <h2 class="mb-0"><i class="bi bi-pencil-square"></i> Editar Usuario</h2>
        </div>
        <div class="card-body">
            <form method="POST" novalidate>
                {{ form.hidden_tag() }}

                <div class="mb-3">
                    {{ form.identificacion.label(class="form-label") }}
                    {{ form.identificacion(class="form-control", placeholder="Número de identificación") }}
                    {% for error in form.identificacion.errors %}
                        <div class="text-danger small">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control", placeholder="Usuario") }}
                    {% for error in form.username.errors %}
                        <div class="text-danger small">{{ error }}</div>
                    {% endfor %}
                </div>

                <div class="mb-3">
                    {{ form.email.label(class="form-label") }}
                    {{ form.email(class="form-control", placeholder="Correo electrónico") }}
                    {% for error in form.email.errors %}
                        <div class="text-danger small">{{ error }}</div>
                    {% endfor %}
                </div>

                {% if current_user.role.value == 'admin' %}
                    <div class="mb-3">
                        {{ form.role.label(class="form-label") }}
                        {{ form.role(class="form-select") }}
                        {% for error in form.role.errors %}
                            <div class="text-danger small">{{ error }}</div>
                        {% endfor %}
                    </div>
                {% else %}
                    <input type="hidden" name="role" value="{{ form.role.data }}">
                {% endif %}
                <div class="d-flex justify-content-between">
                    {% if user_role == 'admin' %}
                    <a href="{{ url_for('listar_usuarios') }}" class="btn btn-outline-secondary">
                        <i class="bi bi-arrow-left"></i> Volver
                    </a>
                    {% elif user_role == 'administrativo' %}
                    <a href="{{ url_for('listar_votantes') }}" class="btn btn-outline-secondary">
                        <i class="bi bi-arrow-left"></i> Volver
                    </a>
                    {% endif %}
                    <button type="submit" class="btn btn-success">
                    {{ form.submit.label }}
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}
